/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    margin: 0;
}

.pastbody {
    background-color: #161310;
    background-image: url('images/huts.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    transition: all 2s;
}

.futurebody {
    background-color: white;
    background-image: url('images/city.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    transition: all 2s;
}


/* headers */

header {
    margin: 0;
    margin-bottom: 28px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 86px;
    margin-bottom: 10px;
}

.h1brown {
    color: #161310;
}

.h1white {
    color: white;
}

.shown {
    display: normal;
}

.hidden {
    display: none;
}

/* past header */

#banner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}

#homeis1 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: #161310;
    margin: 0;
}

#pasttitle {
    flex-grow: 1;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 68px;
    color: #161310;
    margin: 0;
}

/* future header */

#banner2 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    display: none;
}

#homeis2 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: white;
    margin: 0;
}


#futuretitle {
    flex-grow: 1;
    text-align: left;
    font-family: "erbaum", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: white;
    margin: 0;
}



/* end header */


main {
    display: flex;
    margin: 0;
    margin: 2em;
}

main section {
    flex: 1;
    border: 2px rgb(22, 19, 16) dashed;
    margin: 0;
    padding: 1em;
}

.buttonbrown {
    flex: 1;
    background-image: url('images/switchbrown.png'); /* Set the URL of your image */
    background-size: cover; /* Cover the entire button */
    background-position: center; /* Center the image within the button */
    background-repeat: no-repeat; /* Don't repeat the image */
    border: none; /* Remove default button border */
    cursor: pointer;
    background-color: transparent;
    width: 204px;
    height: 204px;
    margin: 0;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: orange;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

footer {
    font-family: 'Bebas Neue', sans-serif;
    color: #47392B;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top:40px;
    background-color: rgba(86, 53, 25, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 25px;
}
