/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    margin: 0;
}

.pastbody {
    background-color: #161310;
    background-image: url('images/huts.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    transition: all .5s;
}

.futurebody {
    background-color: white;
    background-image: url('images/city.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    transition: all .5s;
}


/* headers */

header {
    margin: 0;
    margin-bottom: 28px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 86px;
    margin-bottom: 10px;
}

.h1brown {
    color: #161310;
}

.h1white {
    color: white;
    font-weight: 500;
}

.banner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}

/* past header */

.homeis1 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: #161310;
    margin: 0;
}

.pasttitle {
    flex-grow: 1;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 68px;
    color: #161310;
    margin: 0;
    word-spacing: -30px;
}

/* future header */

.homeis2 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: white;
    margin: 0;
}


.futuretitle {
    flex-grow: 1;
    text-align: left;
    font-family: "erbaum", sans-serif;
    text-transform: uppercase;
    font-size: 58px;
    color: white;
    margin: 0;
}



/* end header */


main {
    display: flex;
    margin: 0;
    max-width: 1126px;
    max-height: 311px;
    margin: auto;
}

.brownmain section {
    flex: 1;
    border: 2px rgb(22, 19, 16) dashed;
    margin: 0;
    background-color: rgba(22, 19, 16, 0.03);
    max-width: 200px;
    max-height: 311px;
    margin-left: 14px;
    margin-right: 14px;
}

.bluemain section {
    flex: 1;
    border: 2px rgb(255, 255, 255) dashed;
    margin: 0;
    background-color: rgba(12, 19, 44, 0.2);
    max-width: 200px;
    max-height: 311px;
    margin-left: 14px;
    margin-right: 14px;
}

button {
    padding: 0;
    margin: 0;
}

.buttonbrown {
    flex: 1;
    background-image: url('images/switchbrown.png'); /* Set the URL of your image */
    background-size: 170px 170px; /* Cover the entire button */
    background-position: center; /* Center the image within the button */
    background-repeat: no-repeat; /* Don't repeat the image */
    border: none; /* Remove default button border */
    cursor: pointer;
    background-color: transparent;
    width: 255px;
    height: 170px;
    margin: 0;
    margin: 20px;
    z-index: 20;
    transform: translateY(25%);
}

.buttonblue {
    flex: 1;
    background-image: url('images/switchblue.png'); /* Set the URL of your image */
    background-size: 170px 170px; /* Cover the entire button */
    background-position: center; /* Center the image within the button */
    background-repeat: no-repeat; /* Don't repeat the image */
    border: none; /* Remove default button border */
    cursor: pointer;
    background-color: transparent;
    width: 255px;
    height: 170px;
    margin: 0;
    margin: 20px;
    z-index: 20;
    transform: translateY(25%);
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    text-align: center;
}

.bluemain h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    color: white;
    margin-left: 22px;
    margin-top: 27px;
}

.brownmain h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    color: #3D2B1B;
    margin-left: 22px;
    margin-top: 27px;
}

.bluemain section a {
    line-height: 1.1em;
    font-family: "myriad-pro", sans-serif;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    color: white;
}

.brownmain section a {
    line-height: 1.1em;
    font-family: "myriad-pro", sans-serif;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    color: #3D2B1B;
}

.bluemain section a:hover {
    background-color: yellow;
    border-radius: 25px;
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
}

.brownmain section a:hover {
    background-color: orange;
    border-radius: 25px;
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

.footerbrown {
    font-family: 'Bebas Neue', sans-serif;
    color: #47392B;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top:40px;
    background-color: rgba(86, 53, 25, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 25px;
    line-height: .05;
}

.footerbrown a {
    color: #665240;
}

.footerblue {
    font-family: 'Bebas Neue', sans-serif;
    color: #DCDBDB;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top:40px;
    background-color: rgba(12, 19, 44, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 25px;
    line-height: .05;
}

.footerblue a {
    color: #DCDBDB;
}

@media (max-width: 1028px) {
    /* My CSS rules for screens smaller than 1028px */
    
    .buttonbrown {
        position: absolute;
        align-items: center;
        top: 400px;
        background-image: url('images/switchbrown.png'); /* Set the URL of your image */
        background-size: 125px 125px; /* Cover the entire button */
        background-position: center; /* Center the image within the button */
        background-repeat: no-repeat; /* Don't repeat the image */
        border: none; /* Remove default button border */
        cursor: pointer;
        background-color: transparent;
        width: 255px;
        height: 170px;
        margin: 0;
        margin: 20px;
        z-index: 20;
        transform: translateY(75%);
    }

    .buttonblue {
        position: absolute;
        align-items: center;
        top: 400px;
        background-image: url('images/switchblue.png'); /* Set the URL of your image */
        background-size: 125px 125px; /* Cover the entire button */
        background-position: center; /* Center the image within the button */
        background-repeat: no-repeat; /* Don't repeat the image */
        border: none; /* Remove default button border */
        cursor: pointer;
        background-color: transparent;
        width: 255px;
        height: 170px;
        margin: 0;
        margin: 20px;
        z-index: 20;
        transform: translateY(75%);
    }

    main {
        display: flex;
        margin: 0;
        max-width: 1126px;
        max-height: 311px;
        margin: auto;
        justify-content: center;
    }

}

@media (max-width: 750px) {
    /* My CSS rules for screens smaller than 750px */

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        margin: 0;
        margin: auto;
        font-size: 14px;
        text-align: center;
        margin-top: 86px;
        margin-bottom: 10px;
    }

/* past header */

.banner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}

.homeis1 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #161310;
    margin: 0;
}

.pasttitle {
    flex-grow: 1;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 47px;
    color: #161310;
    margin: 0;
    word-spacing: -20px;
}

/* future header */

.homeis2 {
    flex-grow: 1;
    text-align: right;
    font-family: "myriad-pro", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin: 0;
}


.futuretitle {
    flex-grow: 1;
    text-align: left;
    font-family: "erbaum", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin: 0;
}



/* end header */

footer {
    font-family: 'Bebas Neue', sans-serif;
    color: #47392B;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top:40px;
    background-color: rgba(86, 53, 25, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 25px;
    line-height: .05;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1126px;
    max-height: 311px;
    margin: auto;
}

main section {
    flex: 1;
    border: 2px rgb(22, 19, 16) dashed;
    margin: 0;
    background-color: rgba(22, 19, 16, 0.03);
    max-width: 400px;
    max-height: 100px;
    margin-top: 14px;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
}

h3 {
    position: absolute;
    display: none;

}

}